/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/10/2017, 13:42:51
    Author     : andersonalves
*/

body{
    font-family: 'Verdana', 'sans-serif' !important;
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column !important;
}
.picker {
    position: relative !important;
}
.picker .picker__wrap {
    left: auto !important;
    right: 0px !important;
}
#modalAdicionarEventoClickDay .fc-center, #modalAdicionarEventoClickDay .fc-right, #modalAdicionarEventoClickDay .fc-left{
    display: none !important;
}

.fc-time-grid-event{
    cursor: pointer;
}
main {
    flex: 1 0 auto !important;
}
.eventImg{
    width:20px;
    height:20px;
}
.scroll{
    overflow: auto;
    width: 100%;
}
.tabelaEquipamentos, .tabelaServicos, .tabelaRefeicoes {
    border-collapse: collapse;
}
.tabelaEquipamentos th, .tabelaServicos th, .tabelaRefeicoes th {
    text-align: left;
}
/*.tabelaEquipamentos th, .tabelaServicos th, .tabelaRefeicoes th, .tabelaEquipamentos td, .tabelaServicos td, .tabelaRefeicoes td {
    padding: 0.1em 1em;
}*/
.corLogo-text {
    color: #006B43 !important;
    font-weight: normal !important;
}
#calendar {
    margin: 15px auto;
}
#calendarDayOfWeek{
    height: auto !important;
}

#readyCalendar {
    margin-bottom: 60px;
}
/*.fc-left h2 {
    margin-left: 325px!important;
}

.fc-button-group {
    margin-right: 325px; 
}*/

#readyCalendarUser {
    margin-bottom: 60px;
}
.esconderDivAula{
    display: none;
}
.equipamento input[type=text], .servicos input[type=text], .refeicoes input[type=text]{
    text-align: center;
}
.fc-list-empty{
    font-size: 20px !important;
}
.btnModal{
    border: solid 2px white;
    padding: 10px;
    min-width: 10%;
    display: block;
    margin-top: 2%;
    margin-left: 2%;
    float: right;
    margin-bottom: 2%;
}
.equipamento{
    margin: 10px;
}
.equipamento img{
    width: 120px;
    height: 100px;
}
.servicos{
    margin: 10px;
}
.servicos img{
    width: 120px;
    height: 100px;
}
.refeicoes{
    margin: 10px;
}
.refeicoes img{
    width: 120px;
    height: 100px;
}
.textRepeat{
    margin: 4px auto; 
    text-align: center;
}
.repeatSwitch{
    margin: 3px auto;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.active_repeat{
    background-color: #006B43;
    color: white;
}
.cadastroClickBtn{
    display: none !important;
}
#calendar td {
    vertical-align: middle !important;
}
.fc-axis {
    text-align: center !important;
}

.fc-axis td {
    padding: 0;
    vertical-align: middle !important;
}
.teste{
    margin-top: 10px;
}
h2 {
    font-size: 2.56rem !important;
    line-height: 85% !important;
}
.btn-confirmar {
    border: none;
    border-radius: 2px;
    width: 100%;
    font-size: 13px;
    line-height: 36px;
    text-transform: uppercase;
    background-color: #005E30;
    -webkit-box-shadow: none;
    color: white !important;
    font-weight: bold;
    cursor: pointer;
}
button:focus{
    background-color: #006B43 !important;
    color: white !important;
}
button:active{
    background-color: #006B43 !important;
    color: white !important;
}
.fc-day-number, .fc-list-heading-main, .fc-list-heading-alt{
    color: #006B43;
}
.fc-state-hover {
    background-position: 0px !important;
}
.fc-state-default{
    background-repeat: inherit !important; 
}
.tabs {
    background-color: transparent;
}
.tabs .tab a {
    color: #006B43 !important;
}
.tabs .indicator{
    background-color: #006B43 !important;
}

.collapsible span.badge {
    margin-top: 0 !important;
}
.collection .collection-item {
    background-color: transparent !important; 
}
.collection a.collection-item {
    color: #006B43 !important;
}
.collapsible-body {
    padding: 2px 10px !important;
}

.hasError{
    border-color: #dc3545 !important;
}

/* Icons Materialize */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v34/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}